.c_d_body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.c_d_container{
    position: relative;
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.c_d_container .c_d_cards{
    position: relative;
    width: 300px;
    height: 400px;
    background:linear-gradient(#2196f3 , #2196f3 30% , #1d3548 30% ,#1d3548);
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.c_d_container .c_d_cards .c_d_imgBox{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition: 0.5s;
  z-index:99999;
  transform-origin: top;
  border-radius: 20px;
  overflow: hidden;
  

}

.c_d_container .c_d_cards:hover .c_d_imgBox{
    transform: translateY(30px) scale(0.5);
}
.c_d_container .c_d_cards .c_d_imgBox img{
    position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
}
.c_d_container .c_d_cards .content{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 0.5s;

}
.c_d_container .c_d_cards:hover .content{
    transform: translateY(0);
}
.c_d_container .c_d_cards .content .c_d_details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.c_d_container .c_d_cards .content .c_d_details h2{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}
.c_d_container .c_d_cards .content .c_d_details h2 span{
    font-size: 0.8em;
    font-weight: 400;
    color: #03a9f4;
}

.c_d_container .c_d_cards .content .c_d_details .social_icons{
    position: relative;
    display: flex;
    margin-top: 5px;
}
.social_icons li{
    list-style: none;
    margin: 4px ;
}
.social_icons li a {
   width: 45px;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #294d69;
   border-radius: 50%;
   font-size: 1.5em;
   color: #fff;
   text-decoration: none;
   transition: 0.5s;
}
.social_icons li a:hover{
    transform: rotate(360deg);
    background: #03a9f4;
}